:root {
  --default-orange: #FF9900;
  --hover-orange: #FF9900B2;
  --active-orange: #E1670E;
  --default-black: #000000;
  --default-white: #FFFFFF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: var(--default-black);
}

.header {
  padding: 14px 75px 10px 75px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  padding: 0;
  font-size: 18px;
  font-weight: 600;
}

.header__nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.header__nav__list__item:not(:last-child) {
  padding-right: 85px;
}
.header__nav__list__item__link {
  color: #333333;
  cursor: pointer;
}

.header__nav__list__item__link:hover {
  border-bottom: 2px solid var(--default-orange);
}

.header__nav__list__item__link:focus {
  border: 2px solid var(--active-orange);
}

.header__nav__list__item__link:active {
  color: #E1670E;
  border-bottom: 2px solid #E1670E;
}

.header__nav__list__item__search {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url('./../image/search.svg');
  background-repeat: no-repeat;
}

.header__nav__list__item__search:hover {
  background-image: url('./../image/search_hover.svg');
}

.header__nav__list__item__search:focus:before {
  content: '';
  border: 2px solid var(--default-orange);
}

.slider {
  padding-left: 75px;
  padding-bottom: 50px;
}

.slider__content {
  padding: 100px 0 0 80px;
  background-image: url(../image/slider_photo.png);
  background-repeat: no-repeat;
}

.slider__content__text {
  color: var(--default-white);
}

.slider__content__text h1 {
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
}

.slider__content__text p {
  margin-top: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.slider__content__btn {
  margin-top: 90px;
  padding-bottom: 100px;
}

.slider__button,
.button {
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--default-white);
  background-color: var(--default-orange);
  width: 280px;
  height: 78px;
  font-weight: bold;
  font-size: 23px;
  line-height: 29px;
  text-align: center;
}

.slider__button:hover,
.slider__button:focus {
  opacity: 0.7;
}

.slider__button:active {
  background-color: #E1670E;
}

.about {
  padding-top: 50px;
  padding-left: 75px;
  padding-bottom: 50px;
}

.about__text h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}

.about__text p {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.about__card {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.about__card__left {
  display: flex;
  max-width: 868px;
  max-height: 622px;
  flex-grow: 0.9;
  align-items: flex-end;
  background-image: url("../image/about_photo.jpg");
  background-repeat: no-repeat;
}

.about__card__left__text {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00000085;
}

.about__card__left__text p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--default-white);
}

.about__card__left__text__button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 50px;
  width: 175px;
  height: 60px;
  border: 3px solid var(--default-orange);
  background-color: Transparent;
  cursor: pointer;
  color: var(--default-white);
}

.about__card__left__text__button:hover,
.about__card__left__text__button:focus {
  background-color: #FF9900;
}

.about__card__left__text__button:active {
  background-color: #E1670E;
  border-color: #E1670E;
}

.about__cards {
  padding-right: 75px;
  display: flex;
  flex-direction: column;
}

.about__card__right:not(:last-child) {
  margin-bottom: 30px;
}


.about__card__right {
  border: 1px solid #CACACA;
}

.about__card__right__content {
  position: relative;
  padding: 65px 118px 65px 300px;
}

.about__card__right__content__top:first-child::before {
  content: "";
  position: absolute;
  width: 190px;
  height: 165px;
  background-image: url("../image/about_svg_right.svg");
  background-repeat: no-repeat;
  right: 620px;
}

.about__card__right__content__bottom::before {
  content: "";
  position: absolute;
  width: 190px;
  height: 165px;
  background-image: url("../image/about_svg_right_down.svg");
  background-repeat: no-repeat;
  right: 620px;
}

.about__card__right__content h3 {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.about__card__right__content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.work {
  padding: 50px 75px 50px 75px;
}

.work__left h2 {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}

.work__left__list {
  padding: 0;
  margin: 0 0 45px;
  max-width: 459px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.work__left__list__element__link:hover {
  color: #FF9900;
}

.work__left__list__element__link:focus {
  color: #333333;
  border: 2px solid #FF9900;
}

.work__left__list__element__link:active {
  border: none;
  color: #E1670E;
}

.work__left__cons {
  max-height: 870px;
  position: relative;
}

.work__left__cons * {
  width: 67%;
}

.work__left__cons::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 49%;
  max-height: 870px;
  background-image: url("../image/work_photo_1.png");
  background-size: cover;
  background-position: center;
}

.work__left__cons h3 {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.work__left__cons p {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.work__left__cons__button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.button_more_info {
  margin-right: 32px;
  max-width: 175px;
  max-height: 60px;
}

.button_more_info:hover,
.button_more_info:focus {
  background-color: #F7B045;
}

.button_more_info:active {
  background-color: #E1670E;
}

.button_contract {
  max-width: 147px;
  max-height: 60px;
  color: var(--default-black);
  background-color: var(--default-white);
  outline: 1px solid var(--default-black);
}

.button_contract:hover,
.button_contract:focus {
  color: #FFFFFF;
  background-color: #666666;
  outline-color: #666666;
}

.button_contract:active {
  background-color: #000000;
}

.question {
  padding: 50px 0 50px 75px;
}

.question h2 {
  margin-bottom: 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}

.question__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1770px;
}

.question__list__item__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 22px 0;
  border-top: 1px solid #CACACA;;
  border-bottom: 1px solid #CACACA;;
  margin-top: -1px;
  position: relative;
  font-size: 24px;
  line-height: 32px;
}

.question__list__item__link:hover {
  z-index: 1;
  border-color: #FF9900;
}

.question__list__item__link:focus {
  z-index: 1;
  border-color: #FF9900;
}

.question__list__item__link:active {
  z-index: 1;
  border-color: #CACACA;
}

.question__list__item__link:active .question__list__item__link__plus {
  rotate: 45deg;
}

.question__list__item__link:hover .question__list__item__link__question,
.question__list__item__link:focus .question__list__item__link__question {
  color: #FF9900;
}

.question__list__item__link__question {
  font-family: Montserrat, serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #222222;
  padding-bottom: 50px;
}

.footer__left {
  padding-left: 75px;
  padding-top: 50px;
}

.list {
  padding: 0;
  margin-top: 19px;
  list-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}

.footer__left__list__links {
  color: white;
  cursor: pointer;
}

.footer__left__list__links:hover {
  color: #FF9900;
}

.footer__left__list__links:focus {
  border: 1px solid #FF9900;
}

.footer__left__list__links:active {
  color: #E1670E;
  border: none;
}

.footer__left__social {
  margin-top: 90px;
}

.footer__left__social__links {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 230px;
  list-style: none;
}

.footer__left__social__links__element a {
  display: block;
  width: 60px;
  height: 60px;
}

.footer__left__social__links__element {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.footer__left__social__links__element a:hover svg path{
  fill: #FF9900;
}

.footer__left__social__links__element a:focus {
  border: 1px solid #FF9900;
}

.footer__left__social__links__element a:active svg path {
  fill: #E1670E;
}

.footer__left__social__links__element a:active {
  border: none;
}

.footer__center {
  padding-left: 110px;
  padding-top: 52px;
}

.footer__center h2 {
  margin: 0;
  color: var(--default-white);
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}

.footer__center__forms {
  display: flex;
  flex-direction: column;
  color: #CACACA;
}

.footer__center__input {
  width: 570px;
  height: 60px;
  padding-left: 23px;
  outline: none;
  border: none;
  background-color: #414141;
}

.footer__center__input:hover,
.footer__center__input:focus {
  background-color: #666666;
  color: #CACACA;
}

.footer__center__input:active {
  background-color: #666666;
}

.footer__center__input:active::placeholder {
  color: white;
}

.footer__center__name {
  margin-top: 26px;
}

.footer__center__mail {
  margin-top: 25px;
}

.footer__center__message {
  margin-top: 25px;
  height: 150px;
  padding-bottom: 100px;
}

.footer__center__submit {
  display: flex;
  margin-top: 20px;
}

.footer__center__submit__button {
  cursor: pointer;
  margin-top: 10px;
  width: 269px;
  height: 58px;
  border: none;
  background-color: #FF9900;
  color: var(--default-white);
}

.footer__center__submit__button:hover,
.footer__center__submit__button:focus {
  background-color: #FF9900;
  opacity: 70%;
}

.footer__center__submit__button:active {
  background-color: #E1670E;
}

.footer__center__submit__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.footer__center__submit__checkbox+label {
  margin-left: 20px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  color: var(--default-white);
}

.footer__center__submit__checkbox+label::before {
  margin-right: 3px;
  content: '';
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 9px 9px;
  width: 14px;
  height: 14px;
  border: 1px solid #CACACA;
}

.footer__center__submit__checkbox:checked+label::before {
  background-image: url("./../image/tick.svg");
}

.footer__right {
  padding-top: 137px;
  padding-right: 85px;
}

.footer__right p {
  color: var(--default-white);
  font-size: 16px;
  line-height: 32px;
}
