@font-face {
  font-family: 'Graphik LCG';
  src: url('/fonts/GraphikLCG-Medium.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gilroy', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222020;
}

.main-header-index {
  color: white;
  font-family: ‘Graphik LCG’, sans-serif;
  margin-bottom: 30px;
}

.download-link {
  padding: 20px;
  color: white;
  background-color: #2f1ce4;
  border: 3px solid #2f1ce4;
}

.about-link {
  padding: 20px;
  color: white;
  background-color: transparent;
  border: 3px solid white;
}

.modules-link {
  padding: 20px;
  color: white;
  background-color: transparent;
  border: 3px solid white;
}

/* program */

.container-program {
  width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.back-link {
  background-position: 0;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url(/image/return.png);
  padding-left: 30px;
}

.main-header-program {
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: #222020;
}

.subtitle {
  padding-left: 180px;
  font-size: 36px;
  color: #2f1ce4;
  margin-top: 100px;
  margin-bottom: 25px;
}

.list {
  padding-left: 180px;
  font-size: 18px;
}

.text {
  padding-left: 180px;
  margin-bottom: 20px;
}

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

.image {
  padding-left: 200px;
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* modules */

.modules-page {
  background-image: url(/image/figure.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 640px;
}

.modules-container {
  width: 1180px;
  margin: 0 auto;
}

.modules-header {
  margin-top: 58px;
  margin-left: -80px;
}

.modules-header h1{
  margin: 0;
  padding-bottom: 61px;
}

.modules-page-header-text{
  margin: 0;
  margin-top: 107px;
  font-size: 48px;
  margin-left: 45px;
}

.modules-list {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 84px;
  list-style: none;
}

.modules-card-subtitle {
  font-size: 36px;
  color: #2f1ce4;
  padding-top: 180px;
  text-align: center;
}

.list-program {
  margin: 0;
  padding: 0;
  margin-left: 50px;
  text-align: left;
  list-style: none;
}

.list-program li:not(:last-child) {
  margin-bottom: 25px;
}

.modules-list-item {
  display: inline-block;
  width: 480px;
  height: 500px;
  margin-right: 60px;
  margin-bottom: 60px;
  vertical-align: middle;
  position: relative;
  box-shadow: 0 0 10px #dedede;
}

.introduction-card {
  background-image: url(/image/photo-1530435460869-d13625c69bbf.jpg);
  background-repeat: no-repeat;
}

.basic-html-card {
  background-image: url(//image/photo-1516101922849-2bf0be616449.jpg);
  background-repeat: no-repeat;
}

.basic-css-card {
  background-image: url(//image/photo-1507721999472-8ed4421c4af2.jpg);
  background-repeat: no-repeat;
}

.layout-work {
  background-image: url(//image/photo-1539278670307-a69d04dc8a75.jpg);
  background-repeat: no-repeat;
}

.number {
  position: absolute;
  right: 20px;
  bottom: -40px;
  color: #eaeaea;
  font-size: 48px;
}

.button-center {
  text-align: center;
  margin-right: 60px;
}

.show-more {
  width: 280px;
  height: 80px;
  font-size: 18px;
  background-color: white;
  color: #2f1ce4;
  border: 1px solid #2f1ce4;
}

/* hotels header */













h2 {
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
}

.container-hotels {
  background-color: #E5E5E5;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.container-hotels ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header{
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.header-phone {
  margin-left: 40px;
}

.header-log-in {
  margin-left: auto;
  position: relative;
}

.header-log-in::before{
  content: "";
  position: absolute;
  width: 21px;
  height: 12px;
  background-image: url(/08_advanced-html/image/Vectorarrow.svg);
  background-repeat: no-repeat;
  left: -40px;
  top: 2px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
  border: 22px solid white;
  border-radius: 15px;
}

.header-nav-list {
  position: relative;
  flex-grow: 1;
  display: flex;
}

.nav-list-item {
  margin-right: 45px;
}

.button {
  height: 42px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  color: #CC9933;
  background-color: #fff;
}

.want-tour-btn {
  width: 107px;
  margin-right: 36px;

}

.recall-btn {
  width: 177px;
  margin-right: 23px;
}

.header-nav-list::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 50px;
  background-color: #E1E1E1;
  left: 700px;
  bottom: -15px;
}

.special-offer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 600px;
}

.special-offer-item {
  color: #ffff;
  padding-left: 40px;
  border-radius: 15px;
}

.special-offer-item p {
  margin-bottom: 44px;
}

.more-link {
  max-width: 100px;
  display: block;
  padding: 0;
  margin: 0;
  position: relative;
  color: #FFCC66;
}

.more-link::after{
  display: inline-block;
  position: relative;
  content: "";
  width: 11px;
  height: 11px;
  border: solid #CC9933;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
  left: 5px;
  top: 2px;

}

.special-offer-item h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.special-offer-rooms h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 211px;
}

.special-offer-maldivs {
  padding-bottom: 69px;
  background-image: url(/08_advanced-html/image/Rectangle\ 14.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  flex: 0 0 50%;
}

.special-offer-Crit {
  padding-bottom: 80px;
  background-image: url(/08_advanced-html/image/Rectangle\ 16.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  flex: 0 0 50%;
}

.special-offer-rooms {
  background-image: url(/08_advanced-html/image/33\ 1.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  flex: 0 0 100%;
  padding-right: 72px;
  padding-bottom: 125px;
}

.about {
  margin-top: -13px;
  max-width: 888px;
}

.about-txt {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;

}

.offers {
  margin-top: 60px;
}

.offers-list {
  display: flex;
  flex-wrap: wrap;
}

.offers-list-item {
  flex: 1 0 50%
}

.features {
  margin-bottom: 70px;
}

.features p {
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-list-item {
  margin-top: 25px;
  flex: 0 1 25%;
  max-width: 275px;
  max-height: 275px;
  border-radius: 15px;
  background-color: #fff;
}

.features-list-item {
  padding-left: 45px;
  padding-top: 116px;
  background-repeat: no-repeat;
  background-position: 45px 40px;
  background-size: 66px 66px;
}

.features-list-item-1 {
  background-image: url("/08_advanced-html/image/bathtub.svg");
}

.features-list-item-2 {
  background-image: url("/08_advanced-html/image/hanger.svg");
}

.features-list-item-3 {
  background-image: url("/08_advanced-html/image/heating.svg");
}

.features-list-item-4 {
  background-image: url("/08_advanced-html/image/hotel-key.svg");
}

.features-list-item-5 {
  background-image: url("/08_advanced-html/image/parking.svg");
}

.features-list-item-6 {
  background-image: url("/08_advanced-html/image/reception.svg");
}

.features-list-item-7 {
  background-image: url("/08_advanced-html/image/security-box.svg");
}

.features-list-item-8 {
  background-image: url("/08_advanced-html/image/swimming-pool.svg");
}

.hotel-card-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stars {
  position: absolute;
  margin-top: 17px;
  margin-left: 213px;
}

.hotel-price {
  font-weight: bold;
}

.hotel-card-list-item {
  flex: 1 0 30%
}

.offers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.offers-list-card {
  margin-bottom: 23px;
  border: 0px solid white;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  height: 330px;
  width: 572.5px;
}

.offer-list-item-link {
  color: #CC9933;
}

.offers-list-item h3 {
  position: relative;
  margin-left: 35px;
}

.offers-list-item h3::after{
  display: inline-block;
  position: relative;
  content: "";
  width: 11px;
  height: 11px;
  border: solid #CC9933;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
  left: 5px;
  top: 1.5px;
}

.hotel-room-btn {
  margin-left: 45px;
  margin-top: 20px;
  margin-bottom: 41px;
  max-width: 100px;
  min-height: 42px;

}

.offers-list-item p {
  margin-left: 35px;
  line-height: 28px;
}

.hotel-location {
  color: #999999;
}

.hotel-card-list-item p{
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-left: 45px;
}

.hotel-card-list-item {
  max-height: 440px;
  max-width: 374px;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 25px;
}

.hotel-card-list-item-last-card {
  padding-top: 300px;
  color: white;
  background-image: url("/08_advanced-html/image/41.png");
}

.hotel-card-list-item-last-card a {
  margin-left: 54px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
}

.want-tour-header {
  margin: 0;
  padding-top: 38px;
  padding-left: 40px;
}

.want-tour {
  width: 1170px;
  height: 274px;
  background: #E9E9E9;
  border-radius: 15px;
}

.labels {
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  padding-top: 31px;
}

.country {
  margin-left: 125px;
}

.date-arrive {
  margin-left: 188px;
}

.nights {
  margin-left: 100px;
}

.number-of-guests {
  margin-left: 120px;
}

.form {
  margin-top: 5px;
}

.want-tour-form {
  margin-left: 45px;
  margin-top: 19px;
  padding-left: 28px;
  width: 1080px;
  height: 106px;
  background: #FFFFFF;
  border-radius: 15px;
}

.form-element:not(:first-child):not(:last-child) {
  margin-left: 34px;
}

.form-element {
  border: none;
  background-color: #fff;
}

.country {
  width: 190px;
}

.date {
  width: 142px;
}

.nights-form {
  width: 121px;
  border-bottom: 1px solid #CCCCCC;
}

.number-of-guests-form {
  width: 121px;
  border-bottom: 1px solid #CCCCCC;
}

.btn-submit {
  margin-left: 50px;
  margin-top: -32px;
  width: 108px;
  height: 50px;
  border: 1px solid #CC9933;
}

.contacts-main {
  width: 1168px;
  height: 618px;
  border-radius: 15px;
  background-color: #fff;
  background-image: url("/08_advanced-html/image/Layer 2 1.png");
  background-repeat: no-repeat;
  background-position-x: 471px;
  background-position-y: 44px;
}

.contacts-main-block {
  padding-top: 44px;
  padding-left: 46px;
}

.contacts-main-block h3 {
  margin: 0;
  display: inline-block;
}

.contacts-main-block p{
  display: inline-block;
  margin: 0;
  padding-left: 77px;
}

.phone-numbers {
  display: inline-flex;
  flex-direction: column;
  padding-left: 47px;
  color: #CC9933;
}

.phone-number-2 {
padding-top: 5px;
}

.email-adreses {
  display: inline-flex;
  flex-direction: column;
  color: #999999;
}

.email-adreses a {
  color: #CC9933;
}

.email-adres-2 {
  padding-top: 5px;
}

.contacts-main-block-graphic {
  display: inline-flex;
}

.contacts-main-block-adres p{
  display: inline-flex;
}

.contacts-main-block-phone {
  padding-top: 55px;
}


.contacts-main-block-email {
  padding-top: 50px;
}

.contacts-main-block-graphic {
  padding-top: 59px;
}

.btn-route {
  display: block;
  margin-top: 96px;
  margin-left: 46px;
  widows: 213px;
  height: 70px;
}

.contacts-img {
  padding-left: 300px
}

.footer {
  margin-top: 15px;
  margin-bottom: 150px;
  width: 1168px;
  height: 341px;
  background-color: #333333;
  background-image: url("/08_advanced-html/image/Frame 11.svg");
  background-repeat: no-repeat;
  background-position-x: 730px;
  background-position-y: 114px;
  color: #fff;
  border-radius: 15px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  padding-left: 52px;
  padding-top: 25px;
}

.footer-copyright-row-2 {
  padding-top: 37px;
}

.footer-copyright-row-3 {
  display: inline-block;
  padding-top: 35px;
  color: #CC9933;
}

.adres {
  padding-top: 25px;
  padding-right: 195px;
}

.footer-adres {
  display: flex;
  flex-direction: column;
}

.footer-phones {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  color: #CC9933;
}

.footer-emails {
  display: flex;
  flex-direction: column;
  padding-top: 29px;
  color: #CC9933;
}

.social {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  padding-right: 51px;
  justify-content: space-between;
}

